@model List<CaseModel>
<div class="container">
    <partial name="_Notificationx" />
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Case List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Case" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Case</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="dataTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Case Number</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var caseModel in Model.OrderByDescending(u=>u.CreatedOn))
            {
                <tr>
                    <td>@caseModel.Title</td>
                    <td>@caseModel.CaseNumber</td>
                    <td>@caseModel.Priority</td>
                    <td>@caseModel.Status</td>
                    <td>@caseModel.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Case" asp-action="Edit" asp-route-id="@caseModel.CaseId" class="btn btn-primary mx-2 ">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-controller="Case" asp-action="Delete" asp-route-id="@caseModel.CaseId" class="btn btn-danger mx-2 ">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/datatable_file.js"></script>
}